*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.container{
    width: 600px;
    margin: 1em auto;
}

.form-message{
    DISPLAY: BLOCK;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.form-message input{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 5px 1em;
    box-sizing: border-box;
    border: 1px solid #ddd;
}


.form-message textarea{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 5px 1em;
    box-sizing: border-box;
    border: 1px solid #ddd
}

.form-input-empty{
    border-color: red!important;
}
.form-message button{
    padding: 2px;
    background: #03A9F4;
    border: 0px;
    padding: 7px 1em;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.form-result{

}

.result-item{
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.result-name{
    display: table-cell;
    width: 150px;
    border: 1px solid #ddd;

    padding: 2px;
}

.result-value{
    display: table-cell;
    border: 1px solid #ddd;
    padding: 2px;
}

.result-delete{
    display: table-cell;
    width: 30px;
    background: red;
    border: 1px solid red;
}


.example-html{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-comments{
    background: #0033aa;
    color: #fff;
    padding: 5px 15px;
    outline: none;
    border: none;
}

.input-comments{
    padding: 3px;
    width: 200px;
    outline: none;
}

.form-comments{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 2px solid #0033aa;
    height:200px;
}

.comments-result{   
    display: table;
    width: 400px;
    margin-top: 5px;
}

.result-value-comments{
    display: flex;
    border: 2px solid #0033aa;
  
    justify-content: space-between;
    width: 100%;
    position: relative;
    left: -2px;
    margin-bottom: 1px;
}

.result-delete-comments{
    display: table-cell;
    width: 30px;
    background: red;
    border: 2px solid red;
    color: #fff;
}